.woocommerce-BlankState {
  padding: 5em 0 0;
  max-width: 764px;
  text-align: center;
  margin: auto;
}

.woocommerce-BlankState-message {
  color: #444;
  font-size: 1.5em;
  margin: 0 auto 1em;
  line-height: 1.5em;
}

.woocommerce-BlankState-buttons {
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wcust-upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.wcust-btn {
  cursor: pointer;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  margin-right: 4px;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.wcust-upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
